.DS_Store
/.WCCommerce.xojo_uistate
DebugFrö/XojoGUIFramework64.dll
DebugFrö/vcruntime140_1.dll
DebugFrö/vcruntime140.dll
DebugFrö/vccorlib140.dll
DebugFrö/msvcr120.dll
DebugFrö/msvcp140.dll
DebugFrö/msvcp120.dll
DebugFrö/icuuc65.dll
DebugFrö/icuin65.dll
DebugFrö/icudt65.dll
DebugFrö/DebugFrö.exe
DebugFrö/DebugFrö Resources/WooPanionMini@2x.png
DebugFrö/DebugFrö Resources/WooPanionMini.png
DebugFrö/DebugFrö Resources/starUnset@2x.png
DebugFrö/DebugFrö Resources/starUnset.png
DebugFrö/DebugFrö Resources/starSet@2x.png
DebugFrö/DebugFrö Resources/starSet.png
DebugFrö/DebugFrö Resources/dummyImage.png
DebugFrö/DebugFrö Libs/SQLiteDatabasex64.dll
DebugFrö/DebugFrö Libs/SearchFieldPluginx64.dll
DebugFrö/DebugFrö Libs/Internet Encodingsx64.dll
DebugFrö/DebugFrö Libs/GZipx64.dll
DebugFrö/DebugFrö Libs/Cryptox64.dll
DebugFrö/DebugFrö Libs/Appearance Pakx64.dll
